body{
  font-weight: 500;
  font-family: Roboto, Arial;
  padding: 150px 0 0 75px;
}
main{
  column-count: 7;
  column-gap: 16px;
  font-size: 16px;
  margin-left: 15px;
  margin-right: 15px;
}
@media(max-width: 1750px) and (min-width: 1545px){
  main{
    column-count: 6;
  }
}
@media(max-width: 1544px) and (min-width: 1285px){
  main{
    column-count: 5;
  }
}
@media(max-width: 1284px) and (min-width: 1030px){
  main{
    column-count: 4;
  }
}
@media(max-width: 1029px) and (min-width: 825px){
  main{
    column-count: 3;
  }
}
@media(max-width: 824px){
  main{
    column-count: 2;
  }
}
img{
  width: 100%;
  border-radius: 20px;
  object-fit: cover;
}
header{
  display: flex;
  flex-direction: column;
  position: fixed;
  z-index: 100;
  background-color: white;
  right: 0;
  top: 0;
  left: 75px;
}
nav section{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 100;
  background-color: white;
  left: 0;
  top: 0;
  bottom: 0;
  width: 75px;
  padding: 25px 0;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}