.top-section{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  padding-right: 30px;
}
.search-div{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex: 1;
}
.search-svg-button{
  background-color: rgb(231, 230, 225);
  padding: 17px 5px 13px 15px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border: none;
}
.search-svg-button svg{
  fill: rgb(83, 83, 83);
}
.search-div:hover .search-svg-button,.search-div:hover .search-bar{
  cursor: pointer;
  background-color: rgba(190, 189, 179, 0.6);
}
.search-bar{
  width: 100%;
  padding: 19px 5px 15px 5px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border: none;
  background-color: rgb(231, 230, 225);
  outline: none;
}
.search-bar::placeholder{
  font-size: 16px;
  font-family: Roboto, Arial;
}
.profile-picture{
  margin-left: 15px;
  margin-right: 15px;
  cursor: pointer;
}
.profile-picture img{
  width: 32px;
  height: 32px;
  object-fit: cover;
}
.svg-top-section{
  cursor: pointer;
}
.bottom-section{
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  padding: 20px 30px 30px;
}
.bottom-section div{
  margin-right: 30px;
  cursor: pointer;

}
