.img_and_name_div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  break-inside: avoid;
  margin-bottom: 16px;
}
.img-div{
  border-radius: 20px;
  position: relative;
  cursor: pointer;
}
.img-div div{
  position: absolute;
}
.ops{
  position: absolute;
  top: 0;
  bottom: 0;
  height: 99%;
  width: 100%;
  border-radius: 20px;
  z-index: 1;
  pointer-events: none;
  transition: background 0.25s ease;
}
.img-div:hover .ops{
  background-color: rgba(0, 0, 0, 0.2);
}
.img-div:hover .profile-button-div,
.img-div:hover .save-button-div,
.img-div:hover .upload-button-div {
  opacity: 1;
}
.profile-button-div,
.save-button-div,
.upload-button-div {
  z-index: 10;
  pointer-events: auto;
}
.profile-button-div{
  top: 15px;
  left: 15px;
  opacity: 0;
  transition: opacity 0.3s ease;
}
.profile-button-div button svg{
  fill: #ffffff;
  scale: 1.5;
  margin-left: 5px;
  margin-bottom: 3px;
}
.profile-button-div button{
  font-size: 22px;
  padding: 15px 15px;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  border-radius: 15px;
  font-weight: bold;
  color: white;
  cursor: pointer;
  transition: background 0.25s ease;
}
.profile-button-div button:hover{
  background-color: rgba(0, 0, 0, 0.65);
}
.save-button-div{
  top: 15px;
  right: 15px;
  opacity: 0;
}
.save-button-div button{
  font-size: 19px;
  font-weight: 500;
  border: none;
  border-radius: 17px;
  padding: 17px 17px;
  color: white;
  background-color: red;
  cursor: pointer;
}
.upload-button-div{
  bottom: 20px;
  right: 15px;
  opacity: 0;
  transition: opacity 0.25 ease;
}
.upload-button-div svg{
  scale: 0.8;
}
.upload-button-div button{
  padding: 8px 8px;
  border-radius: 13px;
  border: none;
  cursor: pointer;
}
.name_and_more_icon{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 4px 7px 12px 7px;
}
.name{
  cursor: pointer;
}
.more_icon{
  cursor: pointer;
}